.mmain
{
    width: 50%;
    margin: auto;
    margin-top: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.c1{
    display: flex;
    justify-content: space-around;
}
button{
    background-color: blue;
    color: aliceblue;
    border-radius: 5px;
    height: 20px;
    width: 50px;
    margin-top:10px ;
}